<h1><%=title%></h1>

<form action="/alunos/save" method="post">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome"><br>
    <label for="curo">Curso:</label>
    <input type="text" id="curso" name="curso"><br>
    <label for="matricula">Matricula:</label>
    <input type="text" id="matricula" name="matricula"><br>
    <input type="submit" value="Enviar">
</form>